<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <title>File Transformer</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <img src="./assets/lumitek.jpg" alt="lumitek" />
    <div class="container">
      <div class="form">
        <div class="title">
          File Transformer,<br /><span>Machine Time</span>
        </div>
        <button class="btn-input" id="mt-file-btn1">
          Machine Time 轉檔前路徑
        </button>
        <button class="btn-input" id="mt-file-btn2">
          Alarm Report 轉檔前路徑
        </button>
        <button class="btn-input" id="mt-output-btn">
          Machine Time 轉檔后路徑
        </button>
        <span class="current-process-file">
          當前處理的文件:
          <span id="mt-current-process-file"></span>
        </span>
        <div class="btn-group">
          <button class="btn-confirm" id="mt-start-btn">開始</button>
        </div>
      </div>
      <div class="form">
        <div class="title">
          File Transformer,<br /><span>Wafer Report</span>
        </div>
        <button class="btn-input" id="wr-file-btn">
          Wafer Report轉檔前路徑
        </button>
        <button class="btn-input" id="wr-output-btn">
          Wafer Report轉檔后路徑
        </button>
        <span class="current-process-file">
          當前處理的文件:
          <span id="wr-current-process-file"></span>
        </span>
        <div class="btn-group">
          <button class="btn-confirm" id="wr-start-btn">開始</button>
          <!-- <button class="btn-confirm" id="wr-save-btn">保存路徑</button> -->
        </div>
      </div>
    </div>
    <div class="form log">
      <div class="title log-title">
        Log, <br /><span>History & Exception</span>
      </div>
      <textarea id="log-textarea" readonly="true" cols="30" rows="10"></textarea>
    </div>
    <div class="footer">
      <span>Copyright © 2024 琉明光電（常州）</span>
    </div>
  </body>
  <script src="../scripts/renderer.js"></script>
</html>
