@font-face {
  font-family: 'alibaba';
  src: url('./assets/fonts/AlibabaSansTC-95.eot');
  src: url('./assets/fonts/AlibabaSansTC-95.otf');
  src: url('./assets/fonts/AlibabaSansTC-95.ttf');
  src: url('./assets/fonts/AlibabaSansTC-95.woff');
  src: url('./assets/fonts/AlibabaSansTC-95.woff2');
}

* {
  font-family: 'alibaba';
}

.no-drag {
  -webkit-app-region: no-drag;
}

.swal2-confirm {
  -webkit-app-region: no-drag;
}
